<p>Dragon Ball</p>
<hr>

<div class="row">
    <div class="col">
         <!-- <ul>
            <li>Krillin - 700</li>
            <li>Goku - 17,000</li>
            <li>Vegeta - 8,700</li>
        </ul> -->
        <app-personajes ></app-personajes>
        <!-- <h3>Personajes</h3>
        <hr>
       
        <ul>
            <li *ngFor="let personaje of personajes; let i = index"> 
               {{i+1}} - {{personaje.nombre}}: {{personaje.poder | number}}
            </li>
        </ul> -->
    </div>

    
    

    <div class="col">
        <app-agregar             
            [nuevo]="nuevo"
            
        ></app-agregar>
    </div>
</div>
